<style>
  .header{
    background: black;
    width: auto;
    height: 80px;
    padding-right: 10px;
  }
  .header ul{
    text-align: right;
    padding-top: 5px;
  }
  .header li a{
    color: #fff;

    display: inline-block;
    font-size: 15px;
    text-decoration: none;
  }
  .aside{
    background: gray;
    width: 25%;
    float: left;

  }
  .aside p a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }
  .content{
    width: 75%;
    float: right;
  }
  .film{
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    width: 250px;
    padding: 20px;
  }
  .footer{
    height: 70px;
    background: green;
    clear: both;
    text-align: center;
  }
  .footer p{
    color: #fff;
    font-size: 20px;

  }

</style>
<div id="root"></div>
<script src="https://fb.me/react-15.0.0.js"></script>
<script src="https://fb.me/react-dom-15.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script type="text/babel">

const Header = function () {
  return(
    <header className="header">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Ok</a></li>
      </ul>
    </header>
  )
}
const Sidebar = function() {
  return(
    <aside className="aside">
      <p><a href="#">По категории</a></p>
      <p><a href="#">По году</a></p>
      <p><a href="#">По странам</a></p>
    </aside>
  )
}
  function Film (props) {
    return (
      <div className="film">
        <h1>{props.name}</h1>
        <p>Год выпуска: {props.year}</p>
        <a href="#"><img src={props.img} width="50" height="70" alt="" /></a>
      </div>
    )
  }
  function Content () {
    return (
      <div className="content">
        <Film name="Детройт" year="2017" img="http://kinogo.cc/uploads/posts/2017-08/thumbs/1503592698_detroit.jpg"/>
        <Film name="Перемешение" year="2016" img="http://kinogo.cc/uploads/posts/2017-10/thumbs/1508036345_peremeschenie-2017-.jpg" />
        <Film name="Достоинство" year="2015" img="http://kinogo.cc/uploads/posts/2016-11/thumbs/1478870108_dostoinstvo.jpg" />
      </div>
    )
  }
  function Footer() {
    return (
      <div className="footer">
        <p>adres</p>
        <p>contact</p>
      </div>
    )
  }

  const container = (
    <div>
      <Header />
      <Sidebar />
      <Content />
      <Footer />
    </div>
  );
  const root = document.getElementById('root');
  ReactDOM.render(container, root);
</script>
